<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN"
  "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<head>
<title>RetroLink v1.0 - Interface Classica</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<frameset rows="78,*" border="3" frameborder="1" framespacing="2" bordercolor="#4444aa">
  <frame src="/classico/topo" name="topo" scrolling="no" noresize="noresize" marginwidth="0" marginheight="0">
  <frameset cols="145,*" border="3" frameborder="1" framespacing="2" bordercolor="#4444aa">
    <frame src="/classico/nav" name="nav" scrolling="auto" noresize="noresize" marginwidth="4" marginheight="4">
    <frame src="/classico/files" name="conteudo" scrolling="auto" marginwidth="6" marginheight="6">
  </frameset>
  <noframes>
  <body bgcolor="#000080" text="#ffffff" link="#ffff00" vlink="#aaaaff">
  <p><font face="Tahoma, Arial" size="2">Seu navegador nao suporta frames.<br>
  <a href="/classico/files">Clique aqui</a> para acessar os arquivos.</font></p>
  </body>
  </noframes>
</frameset>
</html>
