<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>RetroLink - Detalhes do Arquivo</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
body { background-color: #000080; color: #ffffff; font-family: Tahoma, Arial, sans-serif; font-size: 12px; margin: 0; padding: 8px; }
a { color: #ffff00; text-decoration: none; }
a:hover { color: #ffffff; text-decoration: underline; }
</style>
</head>
<body bgcolor="#000080" text="#ffffff" link="#ffff00" vlink="#aaaaff">

<table width="100%" border="1" cellpadding="5" cellspacing="0" bordercolor="#4444aa">
  <tr>
    <td bgcolor="#000044" align="center">
      <font face="Tahoma" size="4" color="#ffff00"><b>&#9660; Detalhes do Arquivo &#9660;</b></font>
    </td>
  </tr>
</table>

<br>

<table width="100%" border="1" cellpadding="6" cellspacing="0" bordercolor="#4444aa" bgcolor="#000033">
  <tr>
    <td bgcolor="#000044" width="140">
      <font face="Tahoma" size="2" color="#ffff00"><b>Nome:</b></font>
    </td>
    <td bgcolor="#000033">
      <font face="Tahoma" size="2"><b>{{ name }}</b></font>
    </td>
  </tr>
  <tr>
    <td bgcolor="#000044">
      <font face="Tahoma" size="2" color="#ffff00"><b>Tipo:</b></font>
    </td>
    <td bgcolor="#000033">
      <font face="Tahoma" size="2">.{{ extension }}</font>
    </td>
  </tr>
  <tr>
    <td bgcolor="#000044">
      <font face="Tahoma" size="2" color="#ffff00"><b>Tamanho:</b></font>
    </td>
    <td bgcolor="#000033">
      <font face="Tahoma" size="2">{{ size }}</font>
    </td>
  </tr>
  <tr>
    <td bgcolor="#000044">
      <font face="Tahoma" size="2" color="#ffff00"><b>Modificado:</b></font>
    </td>
    <td bgcolor="#000033">
      <font face="Tahoma" size="2">{{ modified }}</font>
    </td>
  </tr>
  <tr>
    <td bgcolor="#000044">
      <font face="Tahoma" size="2" color="#ffff00"><b>Caminho:</b></font>
    </td>
    <td bgcolor="#000033">
      <font face="Courier New" size="1" color="#aaaaff">{{ relative_path }}</font>
    </td>
  </tr>
</table>

<br>

<table border="0" cellpadding="0" cellspacing="6">
  <tr>
    <td>
      <a href="{{ download_url }}" style="border: 2px outset #336633; background-color: #003300; color: #00ff44; font-family: Tahoma; font-size: 12px; padding: 5px 14px; text-decoration: none; font-weight: bold;">[v] Baixar Arquivo</a>
    </td>
    <td>
      <a href="{{ back_url }}" style="border: 2px outset #8888ff; background-color: #000066; color: #ffff00; font-family: Tahoma; font-size: 12px; padding: 5px 14px; text-decoration: none;">[&lt;] Voltar</a>
    </td>
  </tr>
</table>

<br>

<table width="100%" border="1" cellpadding="3" cellspacing="0" bordercolor="#333366" bgcolor="#000011">
  <tr>
    <td align="center">
      <font face="Verdana" size="1" color="#555577">
        Melhor visualizado em 800x600 &nbsp;|&nbsp; RetroLink v1.0
      </font>
    </td>
  </tr>
</table>

</body>
</html>
